
@font-face {
  font-family: 'Terminus (TTF)';
  src: url('/fonts/TerminusTTF-4.46.0.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Terminus (TTF)';
  src: url('/fonts/TerminusTTF-Bold-4.46.0.ttf');
  font-weight: bold;
}

@font-face {
    font-family: 'Terminus (TTF)';
    src: url('/fonts/TerminusTTF-Italic-4.46.0.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Terminus (TTF)';
    src: url('/fonts/TerminusTTF-Bold-Italic-4.46.0.ttf');
    font-weight: bold;
    font-style: italic, bold;
}

.dark, .dark pre {
    background-color: #fafafa;
}

.dark {
    color: #171717;
}

.dark h1 a, .dark h2 a, .dark h3 a, .dark h4 a, .dark h5 a {
    color: #171717;
}

.body {
	font-family: 'Terminus (TTF)' !important;
 
	hyphens: auto;
    line-height: 1.5;
	font-kerning: normal;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-variant-ligatures: common-ligatures contextual;
	font-feature-settings: "kern", "liga", "clig", "calt";
}

.hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong {
	font-family: 'Terminus (TTF)' !important;
 
	hyphens: auto;
    font-size: 1.2rem;
    line-height: 1.5;
	font-kerning: normal;
	font-variant-numeric: oldstyle-nums proportional-nums;
	font-variant-ligatures: common-ligatures contextual;
	font-feature-settings: "kern", "liga", "clig", "calt";
}

.hack h1 {font-size: 2.5rem;}
.hack h2 {font-size: 2rem;}
.hack h3 {font-size: 1.7rem;}

.hack h1::before {content: "";}
.hack h2::before {content: "";}
.hack h3::before {content: "";}
.hack h4::before {content: "";}

.hack h1::after {
    content: ""; 
    position: absolute;
    bottom: 10px;
    left: 0;
}

a:hover, a:active, a:focus {
	background-color: #fafafa;
    color: rgb(231, 25, 1);
    border-bottom: 1px solid rgba(0,0,0,0.6);

}

a, .toggle__input + label {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: all 0.25s ease;
}

div.center {
	overflow: hidden;
}

div.center iframe{
	overflow: hidden;
	scrolling: no;	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 480px;
}

.center {
	overflow: hidden;
	scrolling: no;	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 480px;
}


.dark code {
    color: #000;
}
.dark pre code {
    color: #fafafa;
}
.dark table {
    color: #171717;
}
.dark code, .dark strong {
    color: #000;
}